<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Ingresa</title>
</head>

<body>
    <header>
        <section>
            <div class="logo-barra">
                <img class="logoML" src="/public/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                <p class="barra-nav">Buscar productos, Marcas<i class="fas fa-search"></i></p>
                <p class=compra-credito>
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito
                </p>
            </div>
            <nav class="listasPiolas">
                <ul type="none" class="listaHs1">
                    <li><a href='#'> Ofertas</a></li>
                    <li><a href='#'> Tiendas Oficiales</a></li>
                    <li><a href='#'> Vender </a></li>
                    <li><a href='#'> Ayuda</a></li>
                </ul>
                <ul type="none" class="listaHs2">
                    <li><a href='/views/register.html'>Creá tu cuenta <i class="far fa-id-card"></i></li>
                    <li><a href='/views/login.html'>Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <i class="fas fa-bars"></i>
        </section>
    </header>

    <main class="mainLogin">

        <div class="loginCaja">
            <form action="/register" method="GET"></form>
            <label for="nombreDeUsuario">Nombre de Usuario/a</label>
            <input type="text" name="nombre" id="nombreDeUsuario" minlength="4" required><br>

            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena" alt="strongPass" minlength="4" required><br>

            <input type="submit" value="ENVIAR" class="botonEnviar">
            </form>
        </div>
    </main>


    <footer>
        <section class="footerList">
            <ul type="none">
                <i class="fas fa-credit-card"></i>
                <li><strong>Pagá con tarjeta o en efectivo</strong></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin <br>
                    interés con tarjeta o efectivo en puntos de <br>
                    pago. ¡Y siempre es seguro!</p>
                <i class="fas fa-gift"></i>
                <li><strong>Envío gratis desde $2.500</strong></li>
                <p>Solo por estar registrad@ en Mercado Liebre <br>
                    tenés envíos gratis en miles de productos. Es <br>
                    un beneficio de Mercado Puntos.</p>
                <i class="fas fa-user-shield"></i>
                <li><strong>Seguridad, de principio a fin</strong></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                    no hay nada que no puedas hacer porque <br>
                    estás siempre protegid@.</p>
            </ul>
            <h4 class="copy"><strong><em>Copyright © 1999-2020 MercadoLiebre S.R.L.</em></strong></h4>
        </section>
    </footer>

</body>

</html>